* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    padding-top: 20px;
    border-radius: 1.2rem;
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #a139f6;
    transition: trasform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.737);
    color: white;
    background-color: #470055c9;
}

.weather-card {
    backdrop-filter: blur(6px);
    margin-bottom: 0.5rem;
    color: blueviolet;
}